<html lang="en" class="">
    <head>
        <title>NaturesGift</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
     
        <!-- Loading third party fonts -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <!-- social media link-->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni"crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/../static/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" integrity="sha512-nIm/JGUwrzblLex/meoxJSPdAKQOe2bLhnrZ81g5Jbh519z8GFJIWu87WAhBH+RAyGbM4+U3S2h+kL5JoV6/wA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css" integrity="sha512-xlddSVZtsRE3eIgHezgaKXDhUrdkIZGMeAFrvlpkK0k5Udv19fTPmZFdQapBJnKZyAQtlr3WXEM3Lf4tsrHvSA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../static/css/mobile-menu.css">
        <link rel="stylesheet" href="../static/fonts/flaticon/flaticon.css">
        <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/jquery-ui.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/chosen.min.css">
        <link rel="stylesheet" href="../static/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.min.css">
        <link rel="stylesheet" href="../static/css/lightbox.min.css">
        <link rel="stylesheet" href="../static/js/fancybox/source/jquery.fancybox.css">
        <link rel="stylesheet" href="../static/css/jquery.scrollbar.min.css">
        <link rel="stylesheet" href="../static/css/mobile-menu.css">
        <link rel="stylesheet" href="../static/fonts/flaticon/flaticon.css">      -->
        <link rel="stylesheet" href="{{url_for('static',filename='/css/grocery-style.css')}}">
        <style type="text/css">.fancybox-margin{margin-right:17px;}</style><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/45/3/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/45/3/util.js"></script>
    </head>
    <body class="home">
        <header class="header style7">
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-left">
                        <div class="header-message">
                            Welcome to our online store!
                        </div>
                    </div>
                    <div class="top-bar-right">
                        <div class="header-language">
                            <div class="gnash-language gnash-dropdown">
                                <a href="#" class="active language-toggle" data-gnash="gnash-dropdown">
                                            <span>
                                                English (USD)
                                            </span>
                                </a>
                            </div>
                        </div>
                        <ul class="header-user-links">
                            <li>
                                <a href="{{url_for('login')}}">Login or Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="main-header">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="../static/images/logoo2.png" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                            <div class="block-search-block">
                                <form class="form-search form-search-width-category">
                                    <div class="form-content">
                                        <div class="category">
                                            <select title="cate" data-placeholder="All Categories" class="chosen-select" tabindex="-1" style="display: none;">
                                                <option value="United States">Healthy</option>
                                                <option value="United Kingdom">Pumpkin</option>
                                                <option value="Afghanistan">Vitamins</option>
                                                <option value="Aland Islands">Vegetables</option>
                                                <option value="Albania">New Arrivals</option>
                                                <option value="Algeria">Lentils</option>
                                            </select>
                                            <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 147px;" title="cate" hidden>
                                                <a class="chosen-single" tabindex="-1"><span>Healthy</span><div><b></b></div>
                                                </a>
                                                <div class="chosen-drop">
                                                    <div class="chosen-search">
                                                        <input type="text" autocomplete="off" readonly="" tabindex="1">
                                                    </div>
                                                    <ul class="chosen-results"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inner">
                                            <input type="text" class="input" name="s" value="" placeholder="Search here">
                                        </div>
                                        <button class="btn-search" type="submit">
                                            <span class="icon-search"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12">
                            <div class="header-control">
                                <div class="block-minicart gnash-mini-cart block-header gnash-dropdown">
                                    <a href="javascript:void(0);" class="shopcart-icon" data-gnash="gnash-dropdown">
                                        Cart
                                        <span class="count">
                                                0
                                                </span>
                                    </a>
                                    <div class="shopcart-description gnash-submenu">
                                        <div class="content-wrap">
                                            <h3 class="title">Shopping Cart</h3>
                                            <ul class="minicart-items mCustomScrollbar _mCS_1"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0" style="max-height: 250px;"><div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                                <li class="product-cart mini_cart_item">
                                                    <a href="#" class="product-media">
                                                        <img src="../static/images/item-minicart-1.jpg" alt="img" class="mCS_img_loaded">
                                                    </a>
                                                    <div class="product-details">
                                                        <h5 class="product-name">
                                                            <a href="#">Sweet Orange</a>
                                                        </h5>
                                                        <div class="variations">
                                                                    <span class="attribute_color">
                                                                        <a href="#">Black</a>
                                                                    </span>
                                                            ,
                                                            <span class="attribute_size">
                                                                        <a href="#">300ml</a>
                                                                    </span>
                                                        </div>
                                                        <span class="product-price">
                                                                    <span class="price">
                                                                        <span>$45</span>
                                                                    </span>
                                                                </span>
                                                        <span class="product-quantity">
                                                                    (x1)
                                                                </span>
                                                        <div class="product-remove">
                                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="product-cart mini_cart_item">
                                                    <a href="#" class="product-media">
                                                        <img src="../static/images/item-minicart-2.jpg" alt="img" class="mCS_img_loaded">
                                                    </a>
                                                    <div class="product-details">
                                                        <h5 class="product-name">
                                                            <a href="#">Soap Soybeans Solutions</a>
                                                        </h5>
                                                        <div class="variations">
                                                                    <span class="attribute_color">
                                                                        <a href="#">Black</a>
                                                                    </span>
                                                            ,
                                                            <span class="attribute_size">
                                                                        <a href="#">300ml</a>
                                                                    </span>
                                                        </div>
                                                        <span class="product-price">
                                                                    <span class="price">
                                                                        <span>$45</span>
                                                                    </span>
                                                                </span>
                                                        <span class="product-quantity">
                                                                    (x1)
                                                                </span>
                                                        <div class="product-remove">
                                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="product-cart mini_cart_item">
                                                    <a href="#" class="product-media">
                                                        <img src="../static/images/item-minicart-3.jpg" alt="img" class="mCS_img_loaded">
                                                    </a>
                                                    <div class="product-details">
                                                        <h5 class="product-name">
                                                            <a href="#">Soybeans Solutions Soap</a>
                                                        </h5>
                                                        <div class="variations">
                                                                    <span class="attribute_color">
                                                                        <a href="#">Black</a>
                                                                    </span>
                                                            ,
                                                            <span class="attribute_size">
                                                                        <a href="#">300ml</a>
                                                                    </span>
                                                        </div>
                                                        <span class="product-price">
                                                                    <span class="price">
                                                                        <span>$45</span>
                                                                    </span>
                                                                </span>
                                                        <span class="product-quantity">
                                                                    (x1)
                                                                </span>
                                                        <div class="product-remove">
                                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 161px; max-height: 240px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></ul>
                                            <div class="subtotal">
                                                <span class="total-title">Subtotal: </span>
                                                <span class="total-price">
                                                            <span class="Price-amount">
                                                                $135
                                                            </span>
                                                        </span>
                                            </div>
                                            <div class="actions">
                                                <a class="button button-viewcart" href="shoppingcart.html">
                                                    <span>View Bag</span>
                                                </a>
                                                <a href="checkout.html" class="button button-checkout">
                                                    <span>Checkout</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-account block-header gnash-dropdown">
                                    <a href="grocery-login.html" data-gnash="gnash-dropdown">
                                        <span class="flaticon-user"></span>
                                    </a>
                                    <div class="header-account gnash-submenu">
                                        <div class="header-user-form-tabs">
                                            <ul class="tab-link">
                                                <li class="active">
                                                    <a data-toggle="tab" aria-expanded="true" href="#header-tab-login">Login</a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" aria-expanded="true" href="#header-tab-rigister">Register</a>
                                                </li>
                                            </ul>
                                            <div class="tab-container">
                                                <div id="header-tab-login" class="tab-panel active">
                                                    <form method="post" class="login form-login">
                                                        <p class="form-row form-row-wide">
                                                            <input type="email" placeholder="Email" class="input-text">
                                                        </p>
                                                        <p class="form-row form-row-wide">
                                                            <input type="password" class="input-text" placeholder="Password">
                                                        </p>
                                                        <p class="form-row">
                                                            <label class="form-checkbox">
                                                                <input type="checkbox" class="input-checkbox">
                                                                <span>
                                                                            Remember me
                                                                        </span>
                                                            </label>
                                                            <input type="submit" class="button" value="Login">
                                                        </p>
                                                        <p class="lost_password">
                                                            <a href="#">Lost your password?</a>
                                                        </p>
                                                    </form>
                                                </div>
                                                <div id="header-tab-rigister" class="tab-panel">
                                                    <form method="post" class="register form-register">
                                                        <p class="form-row form-row-wide">
                                                            <input type="email" placeholder="Email" class="input-text">
                                                        </p>
                                                        <p class="form-row form-row-wide">
                                                            <input type="password" class="input-text" placeholder="Password">
                                                        </p>
                                                        <p class="form-row">
                                                            <input type="submit" class="button" value="Register">
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="menu-bar mobile-navigation menu-toggle" href="#">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav-container rows-space-20">
                <div class="container">
                    <div class="header-nav-wapper main-menu-wapper">
                        <div class="vertical-wapper block-nav-categori">
                            <div class="block-title">
                                    <span class="icon-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                <span class="text">All Categories</span>
                            </div>
                            <div class="block-content verticalmenu-content">
                                <ul class="gnash-nav-vertical vertical-menu gnash-clone-mobile-menu">
                                    <li class="menu-item">
                                        <a href="#" class="gnash-menu-item-title" title="New Arrivals">New Arrivals</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Hot Sale" href="#" class="gnash-menu-item-title">Hot Sale</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a title="Healthy" href="#" class="gnash-menu-item-title">Healthy</a>
                                        <span class="toggle-submenu"></span>
                                        <ul role="menu" class=" submenu">
                                            <li class="menu-item">
                                                <a title="Broccoli" href="#" class="gnash-item-title">Broccoli</a>
                                            </li>
                                            <li class="menu-item">
                                                <a title="Pumpkin" href="#" class="gnash-item-title">Pumpkin</a>
                                            </li>
                                            <li class="menu-item">
                                                <a title="New Arrivals" href="#" class="gnash-item-title">New Arrivals</a>
                                            </li>
                                            <li class="menu-item">
                                                <a title="Healthy" href="#" class="gnash-item-title">Healthy</a>
                                            </li>
                                            <li class="menu-item">
                                                <a title="Lentils" href="#" class="gnash-item-title">Lentils</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Pumpkin" href="#" class="gnash-menu-item-title">Pumpkin</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Leafy green" href="#" class="gnash-menu-item-title">Leafy green</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Soybeans" href="#" class="gnash-menu-item-title">Soybeans</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Cauliflower" href="#" class="gnash-menu-item-title">Cauliflower</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Raw fruit" href="#" class="gnash-menu-item-title">Raw fruit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav">
                            <div class="container-wapper">
                                <ul class="gnash-clone-mobile-menu gnash-nav main-menu " id="menu-main-menu">
                                    <li class="menu-item  menu-item-has-children">
                                        <a href="index.html" class="gnash-menu-item-title" title="Home">Home</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="submenu">
                                            <li class="menu-item">
                                                <a href="index.html">Home 01</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="home2.html">Home 02</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="home3.html">Home 03</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="gridproducts.html" class="gnash-menu-item-title" title="Shop">Shop</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="submenu">
                                            <li class="menu-item">
                                                <a href="gridproducts.html">Grid Fullwidth</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="gridproducts_leftsidebar.html">Grid Left sidebar</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="gridproducts_bannerslider.html">Grid Bannerslider</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="listproducts.html">List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item  menu-item-has-children item-megamenu">
                                        <a href="#" class="gnash-menu-item-title" title="Pages">Pages</a>
                                        <span class="toggle-submenu"></span>
                                        <div class="submenu mega-menu menu-page" style="width: 1170px; left: -487.137px;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                    <div class="gnash-custommenu default">
                                                        <h2 class="widgettitle">Shop Pages</h2>
                                                        <ul class="menu">
                                                            <li class="menu-item">
                                                                <a href="shoppingcart.html">Shopping Cart</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="checkout.html">Checkout</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="contact.html">Contact us</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="404page.html">404</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="login.html">Login/Register</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                    <div class="gnash-custommenu default">
                                                        <h2 class="widgettitle">Product</h2>
                                                        <ul class="menu">
                                                            <li class="menu-item">
                                                                <a href="productdetails-fullwidth.html">Product Fullwidth</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="productdetails-leftsidebar.html">Product left
                                                                    sidebar</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="productdetails-rightsidebar.html">Product right
                                                                    sidebar</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item  menu-item-has-children">
                                        <a href="inblog_right-siderbar.html" class="gnash-menu-item-title" title="Blogs">Blogs</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="submenu">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#" class="gnash-menu-item-title" title="Blog Style">Blog Style</a>
                                                <span class="toggle-submenu"></span>
                                                <ul class="submenu">
                                                    <li class="menu-item">
                                                        <a href="bloggrid.html">Grid</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="bloglist.html">List</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="bloglist-leftsidebar.html">List Sidebar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#" class="gnash-menu-item-title" title="Post Layout">Post Layout</a>
                                                <span class="toggle-submenu"></span>
                                                <ul class="submenu">
                                                    <li class="menu-item">
                                                        <a href="inblog_left-siderbar.html">Left Sidebar</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="inblog_right-siderbar.html">Right Sidebar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="about.html" class="gnash-menu-item-title" title="About">About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-device-mobile">
            <div class="wapper">
                <div class="item mobile-logo">
                    <div class="logo">
                        <a href="#">
                            <img src="../static/images/logo.png" alt="img">
                        </a>
                    </div>
                </div>
                <div class="item item mobile-search-box has-sub">
                    <a href="#">
                                <span class="icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                    </a>
                    <div class="block-sub">
                        <a href="#" class="close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                        <div class="header-searchform-box">
                            <form class="header-searchform">
                                <div class="searchform-wrap">
                                    <input type="text" class="search-input" placeholder="Enter keywords to search...">
                                    <input type="submit" class="submit button" value="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item mobile-settings-box has-sub">
                    <a href="#">
                                <span class="icon">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </span>
                    </a>
                    <div class="block-sub">
                        <a href="#" class="close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                        <div class="block-sub-item">
                            <h5 class="block-item-title">Currency</h5>
                            <form class="currency-form gnash-language">
                                <ul class="gnash-language-wrap">
                                    <li class="active">
                                        <a href="#">
                                                    <span>
                                                        English (USD)
                                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                    <span>
                                                        French (EUR)
                                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                    <span>
                                                        Japanese (JPY)
                                                    </span>
                                        </a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item menu-bar">
                    <a class=" mobile-navigation  menu-toggle" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>

        {% block body %}
        {% endblock %}

        <footer class="footer style7">
            <div class="container">
                <div class="container-wapper">
                    <div class="row">
                        <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg">
                            <div class="gnash-newsletter style1">
                                <div class="newsletter-head">
                                    <h3 class="title">Newsletter</h3>
                                </div>
                                <div class="newsletter-form-wrap">
                                    <div class="list">
                                        Sign up for getting our  <br>  latest Arrivals 
                                    </div>
                                    <input type="email" class="input-text email email-newsletter" placeholder="Your email letter">
                                    <button class="button btn-submit submit-newsletter">SUBSCRIBE</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="gnash-custommenu default">
                                <h2 class="widgettitle">Quick Menu</h2>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">New arrivals</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Life style</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Pumpkin</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Leafy green</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Soybeans</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="gnash-custommenu default">
                                <h2 class="widgettitle">Other Info</h2>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">FAQs</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Track Order</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Delivery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Return</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            <div class="row">

            <!--Grid column-->
            <div class="col my-5">

                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center mb-0">
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li  class="list-inline-item">
                    <a href="#" class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-instagram"></i>
                    </a>
                </li>
                </ul>
                <!-- Social buttons -->

            </div>
            <!--Grid column-->

            </div>
            <!--Grid row-->
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="https://mdbootstrap.com/">Nature's Gift</a>
        </div>

                </div>
            </div>
        </footer>
        <div class="footer-device-mobile">
            <div class="wapper">
                <div class="footer-device-mobile-item device-home">
                    <a href="index.html">
                            <span class="icon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>
                        Home
                    </a>
                </div>
                <div class="footer-device-mobile-item device-home device-wishlist">
                    <a href="#">
                            <span class="icon">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </span>
                        Wishlist
                    </a>
                </div>
                <div class="footer-device-mobile-item device-home device-cart">
                    <a href="#">
                            <span class="icon">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                <span class="count-icon">
                                    0
                                </span>
                            </span>
                        <span class="text">Cart</span>
                    </a>
                </div>
                <div class="footer-device-mobile-item device-home device-user">
                    <a href="login.html">
                            <span class="icon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        Account
                    </a>
                </div>
            </div>
        </div>
        <a href="#" class="backtotop">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.1.0/js/jquery.countdown.min.js" integrity="sha512-+Cdr05lT+aP+PTW4988XKLMjoAf0o5P2nRDIHooD/NItysfsyCPPhZhK/C6s7ZpaVoMRtsvRNJLtYOTDANC5UA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.1.0/js/jquery.plugin.min.js" integrity="sha512-MPI2h+3IVJR8ElOGFV02uH6W1augIqS9y/YgTZH7xNb7QwLVPjFL0eRxbDpE6ZAk/hQbHm6zWXMh/oMR4/3sDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js" integrity="sha512-+m6t3R87+6LdtYiCzRhC5+E0l4VQ9qIT1H9+t1wmHkMJvvUQNI5MKKb7b08WL4Kgp9K0IBgHDSLCRJk05cFUYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js" integrity="sha512-5AcaBUUUU/lxSEeEcruOIghqABnXF8TWqdIDXBZ2SNEtrTGvD408W/ShtKZf0JNjQUfOiRBJP+yHk6Ab2eFw3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.mobilemenu@1.0.0/jquery.mobilemenu.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.min.js" integrity="sha512-UH428GPLVbCa8xDVooDWXytY8WASfzVv3kxCvTAFkxD2vPjouf1I3+RJ2QcSckESsb7sI+gv3yhsgw9ZhM7sDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.actual/1.0.19/jquery.actual.min.js" integrity="sha512-tuZOdDlPdZebYT6mVgvEYJNjYIgiOxtbu3jJbMORG1UDV6BEE3nhba0ZAmbn1EMwU7tLbXNfxBpjEi8CdzD8Tw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js" integrity="sha512-j7/1CJweOskkQiS5RD9W8zhEG9D9vpgByNGxPIqkO5KrXrwyDAroM9aQ9w8J7oRqwxGyz429hPVk/zR6IOMtSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/owl.carousel2.thumbs@0.1.8/dist/owl.carousel2.thumbs.min.js"></script> 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM"></script>
        <script src="../static/scripts/frontend-plugin.js"></script>
        <!-- <script src="../static/js/jquery-1.12.4.min.js"></script>
        <script src="../static/js/jquery.plugin-countdown.min.js"></script>
        <script src="../static/js/jquery-countdown.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/magnific-popup.min.js"></script>
        <script src="../static/js/isotope.min.js"></script>
        <script src="../static/js/jquery.scrollbar.min.js"></script>
        <script src="../static/js/jquery-ui.min.js"></script>
        <script src="../static/js/mobile-menu.js"></script>
        <script src="../static/js/chosen.min.js"></script>
        <script src="../static/js/slick.js"></script>
        <script src="../static/js/jquery.elevateZoom.min.js"></script>
        <script src="../static/js/jquery.actual.min.js"></script>
        <script src="../static/js/fancybox/source/jquery.fancybox.js"></script>
        <script src="../static/js/lightbox.min.js"></script>
        <script src="../static/js/owl.thumbs.min.js"></script>
        <script src="../static/js/jquery.scrollbar.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM"></script>
        <script src="../static/js/frontend-plugin.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body></html>